#!/bin/zsh -e

[ -x "/Library/Developer/CommandLineTools/usr/bin/git" ] || xcode-select --install
{{- if ne .chezmoi.username "zoran" }}
[ -f "/Library/Apple/usr/share/rosetta/rosetta" ] || softwareupdate --install-rosetta --agree-to-license
{{- end }}
