#!/bin/zsh

set -f

# hash: {{ include "../resources/darwin/iterm2/com.googlecode.iterm2.plist" | sha256sum }}

if pgrep -x iTerm2 > /dev/null; then
    osascript -e 'quit app "iTerm2"'
    sleep 1
    while pgrep -x iTerm2 > /dev/null; do sleep 0.5; done
    killall -u $USER cfprefsd
    env -i HOME=$HOME LOGNAME=$LOGNAME USER=$USER /usr/bin/open -a iTerm
fi
