#[".local/bin/uv"]
#    type = "archive-file"
#    url = {{ gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-gnu.tar.gz" | quote }}
#    refreshPeriod = "72h"
#    executable = true
#    path = "uv-x86_64-unknown-linux-gnu/uv"
