#!/bin/zsh -euf

# Rust tools {{ include "bin/gremlins/executable_manage-rust-tools" | sha256sum }}
"$HOME/bin/gremlins/manage-rust-tools" bootstrap

# Everything else via brew
{{ $casks := list -}}
{{ $brews := list
    "btop"
    "duf"
    "pstree"
    "tmux"
-}}
{{ $obsolete_brews := list
    "fzf"
-}}

{{- if eq .chezmoi.os "darwin" }}
    {{- $brews = append $brews "wget" -}}
    {{- $casks = append $casks "font-symbols-only-nerd-font" -}}
    {{- $casks = append $casks "ghostty" -}}
    {{- $casks = append $casks "iterm2" -}}
    {{- $casks = append $casks "pearcleaner" -}}
    {{- if eq .chezmoi.username "zoran" }}
        {{- $casks = append $casks "iina" -}}
        {{- $casks = append $casks "onyx" -}}
        {{- $casks = append $casks "quicklook-video" -}}
    {{ end -}}
{{- else }}
    {{- $obsolete_brews = append $obsolete_brews "wget" -}}
{{ end -}}

cleanup_obsolete_brews() {
    local formula

    for formula in "$@"; do
        brew list --formula "$formula" > /dev/null 2>&1 || continue
        brew uninstall --formula "$formula"
    done
}

export HOMEBREW_NO_ENV_HINTS=1
brew bundle install --file=/dev/stdin <<EOF
{{ range ($brews | compact | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | compact | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

cleanup_obsolete_brews {{ range ($obsolete_brews | compact | sortAlpha | uniq) }}"{{ . }}" {{ end }}
