#!/bin/zsh -eufx

{{ $casks := list -}}
{{ $brews := list
    "btop"
    "curlie"
    "duf"
    "fzf"
    "tmux"
-}}

{{- if eq .chezmoi.os "darwin" }}
    {{- $brews = append $brews "wget" -}}
    {{- $casks = append $casks "font-symbols-only-nerd-font" -}}
    {{- /* $casks = append $casks "ghostty" */ -}}
    {{- $casks = append $casks "iterm2" -}}
{{ end -}}

export HOMEBREW_NO_ENV_HINTS=1
brew bundle install --file=/dev/stdin <<EOF
{{ range ($brews | compact | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | compact | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
