#!/bin/zsh -euf

# Install cargo for rust based tools
if [[ ! -x "$HOME/.cargo/bin/rustup" ]]; then
    echo Installing rustup
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --no-modify-path --profile minimal
fi
if ! command -v cargo > /dev/null && [[ -f "$HOME/.cargo/env" ]]; then
    source "$HOME/.cargo/env"  # Ensure cargo is in the PATH for the rest of this script
fi
if [[ ! -x "$HOME/.cargo/bin/cargo-binstall" ]]; then
    echo Installing cargo-binstall
    curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
fi

cargo_install() {
    local pkg_name="$1"
    if ! cargo install --list | grep -Eq "^$pkg_name v"; then
        cargo binstall -y $pkg_name
    fi
}

# Rust tools
cargo_install cargo-update
cargo_install bat
cargo_install dua-cli
cargo_install eza
cargo_install fd-find
cargo_install git-delta
cargo_install ripgrep
cargo_install tokei
cargo_install tre-command
cargo_install zoxide
[[ "$USER" == "zoran" ]] && cargo_install uv

# Everything else via brew
{{ $casks := list -}}
{{ $brews := list
    "btop"
    "curlie"
    "duf"
    "fzf"
    "pstree"
    "tmux"
-}}

{{- if eq .chezmoi.os "darwin" }}
    {{- $brews = append $brews "wget" -}}
    {{- $casks = append $casks "font-symbols-only-nerd-font" -}}
    {{- $casks = append $casks "ghostty" -}}
    {{- $casks = append $casks "iterm2" -}}
{{ end -}}

export HOMEBREW_NO_ENV_HINTS=1
brew bundle install --file=/dev/stdin <<EOF
{{ range ($brews | compact | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | compact | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
