#!/bin/zsh -euf

# Rust tools
"$HOME/bin/gremlins/manage-rust-tools" bootstrap

# Everything else via brew
{{ $casks := list -}}
{{ $brews := list
    "btop"
    "curlie"
    "duf"
    "fzf"
    "pstree"
    "tmux"
-}}

{{- if eq .chezmoi.os "darwin" }}
    {{- $brews = append $brews "wget" -}}
    {{- $casks = append $casks "font-symbols-only-nerd-font" -}}
    {{- $casks = append $casks "ghostty" -}}
    {{- $casks = append $casks "iterm2" -}}
    {{- $casks = append $casks "pearcleaner" -}}
    {{- if eq .chezmoi.username "zoran" }}
        {{- $casks = append $casks "iina" -}}
    {{ end -}}
{{ end -}}

export HOMEBREW_NO_ENV_HINTS=1
brew bundle install --file=/dev/stdin <<EOF
{{ range ($brews | compact | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | compact | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
