{{ if and (not .headless) .personal -}}
#!/usr/bin/env zsh

set -e

if ! command -v pickley > /dev/null; then
    # Grab pickley in ~/.local/bin/
    zsh -c "$(curl -fsSL https://raw.githubusercontent.com/codrsquad/pickley/main/get-pickley)"
fi
pickley install ansible mgit portable-python tox-uv
#{{- end }}
